{% block content %}

    {% include 'head.html' %} 

    {% if current_user.is_anonymous %}
        {% include 'navbar-login.html' %} 
    {% else %}
        {% include 'navbar.html' %} 
    {% endif %}

    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
                <br>
                <div class="alert alert-info" role="alert">{{ message }}</div>
                <br> 
            {% endfor %}
        {% endif %} 
    {% endwith %}
    
    {% block app_content %}
      
    {% endblock %} 
    {% include 'footer.html' %} 
    {% include 'after-scripts.html' %} 
{% endblock %}